/* App.css */
body {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #e6eef6;

}

.dashboard {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;

}

.banners {
  width: auto;
  display: flex;


  margin-bottom: 20px;



}

.banner {
  background-color: #ffffff;
  padding: 20px;
  border-radius: 10px;
  flex: 1;
  margin-bottom: 10px;
  margin: 20px;
  box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.081);
}

.banner h2 {
  margin: 0;
}

.banner-button {
  display: inline-block;
  margin-top: 10px;
  background-color: #007bff;
  color: #fff;
  padding: 10px 20px;
  border-radius: 5px;
  text-decoration: none;
}

.banner-button:hover {
  background-color: #2074cd;
}

.sections {
  
  display: flex;
  flex-direction: column;

}

.section {
  margin-bottom: 20px;


}

.section h3 {
  margin: 0;
  margin-bottom: 10px;
}

.card1 {
  display: flex;
  justify-content: center;

  flex-wrap: wrap;
  justify-content: space-between;

  width: auto;
}

.card {
  background-color: none;
  padding: 20px;
  border-radius: 10px;
  margin-bottom: 10px;






}

.card h4 {
  margin: 0;
}

.card-data {
  margin-top: 10px;

  flex: 1;
  /* Allow the card's content to take up all available vertical space */
  overflow: hidden;
  /* Hide any overflowing content */

}

.card-data progress {
  width: 100%;
}

.card-data p {
  margin: 0;
}

.card-button {
  display: inline-block;
  margin-top: 10px;
  background-color: #007bff;
  color: #fff;
  padding: 5px 10px;
  border-radius: 5px;
  text-decoration: none;
}

.card-link {
  display: inline-block;
  margin-top: 10px;
  text-decoration: none;
  color: #007bff;
}

.card-note {
  margin-top: 10px;
  font-style: italic;
  color: #888;
}


/* Responsive styles */
@media screen and (max-width: 768px) {
  .banners {
    flex-direction: column;
  }

  .banner {
    margin-right: 0;
  }

  .section {
    margin-bottom: 10px;
  }
  .card1{
    flex-direction: column;
  }
}

@media screen and (max-width: 480px) {
  .banner-button {
    display: block;
    margin-top: 10px;
    text-align: center;
  }

  .card-button,
  .card-link {
    display: block;
    margin-top: 10px;
    text-align: center;
  }

  .sections {
    width: 100%;
  }
  .card1{
    flex-direction: column;
  }
}